body{
    display: flex;
    flex-direction: column;
  }
  
  header{
    flex: 0 80px;
  }

  main{
    flex: 1 calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182,182,182) thin;
  }
  menu .nav-item {
    padding: 0 0.3em;
  }
  form div {
    padding-bottom: .5em;
  }

  section:nth-child(1){
    flex: 1;
    background-color: white;
  }
  section:nth-child(2){
    postion: relative;
    flex: 5;
  }
  .table{
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0 0 50% 50%;
    background-color: green;
  }
  .dealer-hand {
    justify-content: center;
    position: relative;
    top: 5%;
    display: flex;
  }
  
  .player-hand {
    justify-content: center;
    position: relative;
    top: 50%;
    display: flex;
  }
  
  .card {
    width: 10%;
    height: 50px;
    background-color: white;
    margin-right: 5px;
  }
  .hit-button{
    position: flex;
    margin-top: 5%;
  }
  .spot{
    flex: 1;
    position: relative;
    display: block;
    border: yellow solid .5vh;
    width: 4vw;
    height: 10vh;
    top: 55%;
    left: 46%;
    z-value: 2;
  }
  @media (orientation: portrait){
    main{
      flex-direction: column;
    }
  }
  
  @media (max-height: 500px){
    header{
      display: none;
    }
  }